<nav class="navbar bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
          <a routerLink="/">
              <img src="../assets/images/logo.png" alt="Logo" class="d-inline-block align-text-top logo">
          </a>
        <a routerLink="/" class="navbar-brand" style="font-family: 'Italiana', sans-serif;" style="font-size: 18" >NECTARED</a>
      </div>
      <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item">
              <a routerLink="/perfume" class="nav-link">Perfume</a>
          </li>
          <li class="nav-item">
              <a routerLink="/custom" class="nav-link">Custom Fragrance</a>
          </li>
      </ul>
      <ul class="navbar-nav d-flex flex-row ms-auto">
          <li class="nav-item">
              <a routerLink="/cart" class="nav-link">Cart</a>
          </li>
          <li class="nav-item">
              <a routerLink="/login" class="nav-link" *ngIf="!isLoggedIn">Login</a>
              <a (click)="onClickLogout()" routerLink="/login" class="nav-link" *ngIf="isLoggedIn">Logout</a>
          </li>
      </ul>
  </div>
</nav>

