<p>perfume works!</p>
<!-- perfume.component.html -->
<div class="container">
  <div class="row">
    <!-- Repeat this block for each perfume -->
    <div class="col-md-3 mb-3">
      <div class="card">
        <img src="perfume-image.jpg" class="card-img-top" alt="Perfume Image">
        <div class="card-body">
          <h5 class="card-title">Perfume Name</h5>
          <p class="card-text">Perfume description goes here.</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <!-- Repeat this block for each perfume -->
  </div>
</div>
