<div class="container">
  <div class="row">
    <div class="col-md-3 mb-3" *ngFor="let ingredient of ingredients">
      <div class="card">
        <img src="{{ ingredient.image }}" class="card-img-top" alt="Perfume Image">
        <div class="card-body">
          <h5 class="card-title">{{ ingredient.name }}</h5>
          <a (click)="onAdd(ingredient)" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>


<app-user-fragrance (nameCustomFragrance)="handleFragranceName($event)" (buttonClicked)="onclickCreateCustomFragrance()" [ingredients]="customIngredients"></app-user-fragrance>
